@import url(./reset.css);
html {
    background: linear-gradient(to top, rgba(2, 2, 2, 0.5)50%, rgba(0, 0, 0, 0.5)50%),
        url(../assets/netflix-cinema-film-2020.jpg)no-repeat fixed center center / cover;
}
header ul{
    display: flex;
}
header ul li{
    margin: 2rem;
}
main section{
    width: 80%;
    margin: 0 auto;
}
main section.top{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
main section.top img{
    width: 10rem;
}
main section.mid{
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}
main section.mid h2{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
main section.mid div.form-1{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
main section.mid p{
    display: table-cell;
    border: .2rem solid #fff;
    padding: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #mail-bar,form.login input,form.form-1 input{
    padding: 1rem;
    border: 0.3rem solid #ccc;
    border-radius: 0.4rem;
    font-size: 1rem;
    margin-right: 0.7rem;
    width: 30rem;
  }
    #email-btn,button.valider {
    padding: 1rem 2rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
    #email-btn:hover,button.valider:hover,main section.choix div ul li a:hover{
    background-color: #0056b3;
  }
  div.content-2,form.form-1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  button.valider{
    margin-top: 2rem;
    width: 40rem;
    margin-right: 0.7rem;

  }
  form.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main section.filme-mid{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main section.filme-mid div img{
    width: 40rem;
    margin-left: 10rem;
    border-radius: 2rem;
  }
  main section.filme div ul,main section.choix div ul{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
  }
  main section.filme div ul li{
    width: 20rem;
    margin: 1rem
  }
  main section.choix div ul li{
    width: 25rem;
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main section.choix div ul li a{
    width: 100%;
    text-align: center;
    padding: 1rem 0rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
  main section.pow{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main section.pow img.ins{
    width: 70%;
    height: 30rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 2rem;
  }
footer{
  margin-top: 10rem;
  text-align: center;
}